# папки сборки и метаданные
build/
*.egg-info/
dist/
# ненужный кеш
__pycache__/
*.pyc
*.cpython-*-.pyc
# локальные настройки редактора кода автора
.vscode/
# логи
*.log

# секретные файлы
*.env
*.env.local
*.secret.json
*.secrets.json
# прочее
reports/
*.python_history